<div style="clear: both;"/>
<footer class="site-footer">
    <p>
        <a href="https://scholar.google.com/citations?user=tnmUr30AAAAJ&hl=en" target="_blank">
            <img src="{{ '/assets/images/logo_scholar.png' | relative_url }}" />
        </a>
        <a href="https://github.com/mohammadKhalifa/" target="_blank">
            <img src="{{ '/assets/images/logo_github.png' | relative_url }}" />
        </a>
        <a href="https://twitter.com/mkhalifaaaa/" target="_blank">
            <img src="{{ '/assets/images/logo_twitter.png' | relative_url }}" />
        </a>

    </p>
</footer>
